span {
    display: block;
    margin: 10px 10px 10px 20px;
}

.form-container{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px 0;
    height: 510px;
    background-color: rgb(203, 218, 231);
}

.field {
    clear:both;
    text-align:right;
    line-height:25px;}
label {
    float:left;
    padding-right:30px;}
.main {
    float:left;
    width:80%;
    margin: 30px 10%;
    padding: 25px;
}

:disabled {
    background-color: #878f99;
}

input{
    width: 50%;
}
textarea{
    width: 50%;
}