.container{
    margin: 30px 20px 30px 20px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px 0;
    height: 510px;
    background-color: #a2b9bc;
}

button{
    box-sizing: border-box;
    background:  #6b5b95;
    border: none;
    color: floralwhite;
    font-size: 16px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.nav-container{
    margin: 0;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 75px;
    background-color: #878f99;
}

button:hover {
    background-color: white;
    color: #6b5b95;
    border: 3px solid #6b5b95;
}

.active{
    background-color: #608185;
}

.helper{
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(229, 229, 230);
    font-size: 20px;
}
input[type=text].search-field{
    width: 20%;
    border-radius: 4px;
    padding: 5px 10px;
}

.search-field{
    margin-left: 30px;
}
.tooltip{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.helper:hover{
    background-color:#6b5b95;
    color:  rgb(229, 229, 230);
}